@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #f4f6f8;
    overflow-x: hidden;
    width: 100%;
}

header {
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: #ffffff;
    padding: 0 10%;
    padding-block: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
.logo-context{
    display: flex;
    justify-content: flex-end;
}
.logo-context h4 {
    font-weight: 300;
}
.heading{
    padding: 0 10%;
    text-align: center;
}
.heading h1{
    font-size: 45px;
}
.intro{
    padding: 0 10%;
}
.heading-image{
margin: 0 10%;
padding-block: 10px;

}
.heading-image img{
display: block;
margin: 0 auto;
}
.listing{
    padding: 0 10%;
}